<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>BHARA AYONG PURNA MUSTIKA</title>
</head>

<body>

    <div class="container mt-5">
        <h2>Selamat datang, {{ .nama_lengkap }}</h2>
        <h3>-----------------------------------</h3>
        <h3> Upload dan Delete Gambar</h3>
        <hr />
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit">
        </form>

        <a href="/image"><img src="/thumbnail"></a>

        <br>


        <a class="btn btn-primary" href="/logout" role="button">LOGOUT</a>


    </div>

</body>

</html>